.home{
    font-size: 18px;

    .container {
        background-color: $color-4;
        text-align: center;
        margin: 0;
        padding-top: 40px;
        position: relative;
        padding-bottom: 100px;
        @media(min-width: 990px){
            padding-bottom: 150px;
        }
        @media(min-width: 1700px){
            padding-bottom: 200px;
        }

        h1, p{
            color: white;
            margin: 0 20%;
            @media(max-width: 1000px){
                margin: 0 20px;
            }
        }

        .button{
            text-decoration: none;
            background-color: white;
            color: $color-4;
            padding: 15px 20px;
            border-radius: 5px;
            display: inline-block;
            width: fit-content;
            margin: 50px 0;
            font-weight: bolder;
            // cursor: pointer;
            z-index: 100;
            &:hover{
                background-color: #ddd;
            }
        }

        svg {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;

            path{
                stroke: none; 
                fill: $color-1;
            }
        }
    }

    .container-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px;
        @media(min-width: 999px){
            margin: 0 10%;
        }
    }

    .home-mobile, .home-anonymous, .home-strangers{
        position: relative;
        margin-left: 115px;
        margin-right: 40px;
        margin-bottom: 50px;
        max-width: 320px;
        // background-color: #fff;
        flex: auto;

        &::before{
            content: "";
            position: absolute;
            background-size: 70px 70px;
            display: inline-block;
            width: 70px;
            height: 70px;
        }
        h3{
            margin-bottom: 0;
        }
        p{
            margin-top: 0;
        }
    }

    .home-anonymous{
        &::before{
            background-image: url(../../assets/images/anonymous.png);
            left: -85px;
            top: 30px;
        }
    }

    .home-strangers{
        &::before{
            background-image: url(../../assets/images/strangers.png);
            left: -85px;
            top: 25px;
        }
    }
    
    .home-mobile{
        &::before{
            background-image: url(../../assets/images/smartphone.png);
            left: -75px;
            top: 30px;
        }
    }
}